{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<main> 
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>Меня зовут Ирина. Целых 17 лет я работала переводчиком технической документации,
    но пришло время сменить сферу деятельности, т. к. "на пятки наступает" ИИ —
    теперь уже не нужно часами сидеть и ломать голову над тем, что же написали китайцы на английском,
    достаточно просто проверить текст, переведенный автоматическим переводчиком.</br>
    Программирование меня интересовало давно, но времени всерьез заняться изучением не было,
    и вот в свои 38 я решила, что пора. Бросила работу и пошла учиться!</br>
    Надеюсь на успех! Ведь у меня есть моя супер-муза — котенок Беладонна! :)))</p>
  </div>
  <div class="container">
    <img src="/static/img/cat.png" width="170" height="250">
  </div>  
</p>
{% endblock %}